.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 0 2rem;
}

.purchaseForm {
  display: grid;
  gap: 1rem;
}

.purchaseInput {
  width: 40vw;
  height: 5vh;
}

.formInputsDiv {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: center;
}
.formControl {
  display: grid;
}

.submitPurchaseButton {
  width: 100%;
  height: 5vh;
}

.purchasesList {
  width: 90vw;
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.13);
  border: 2px solid rgba(255, 255, 255, 0.17);
  box-shadow: 0 0 40px rgba(116, 116, 116, 0.6);
  backdrop-filter: blur(5px);
  text-align: center;
  display: grid;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  gap: 5vw;
  padding: 2em;
  border-radius: 3px;
}

.purchaseTile {
  display: flex;
  gap: 4rem;
  background-color: rgba(249, 255, 255, 0.727);
  width: 89.5vw;
  color: black;
  border-radius: 3px;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.purchaseInfo {
  display: flex;
}

.purchaseTileDecorSpan {
  background-color: rgb(3, 1, 4);
  width: 1vw;
  box-shadow: inset 0 0 40px rgba(1, 1, 1, 0.2);
  border-radius: 3px 0px 0px 3px;
}

.purchaseTileDateSpan {
  width: 8vw;
  height: 3.8vw;
  margin: 0.5em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.purchaseTilePurchasesSpan {
  width: 35.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.purchaseTileAmountSpan {
  width: 35.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.purchaseTileButton {
  height: 6vh;
}

@media (max-width: 600px) {
  .purchaseInput {
    width: 90vw;
  }
  .purchaseInfo {
    display: grid;
  }
  .purchaseTileButton {
    display: block;
    height: 13vh;
  }
}

/* not being used keep for your own purposes 
@media (prefers-color-scheme: dark) {
  .footer {
    border-color: #222;
  }

  .logo img {
    filter: invert(1);
  }
}

*/
